<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New NFT page</h1>
        <form action="/nfts" method="POST">
            Image: <input type="text" name="img" /><br/>
            Name: <input type="text" name="name" /><br/>
            Number: <input type="text" name="number" /><br/>
            Rarity: <input type="text" name="rarity" /><br/>
            Opensea: <input type="link" name="opensea" /><br/>
            <input type="submit" value="Showcase NFT"/>
        </form>
    </body>
</html>
